<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" ref="../static/css/bootstrap.css" rel="stylesheet">

    <script src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}" src="js/bootstrap.js"></script>

</head>


<script>
    $(document).ready(function () {
        $("#homeHead").addClass("active")
    })
</script>

<body>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div th:insert="../templates/common/NavBar::navbar"></div>

            <h1 id="h1-rbac-"><a name="RBAC系统" class="reference-link"></a><span
                    class="header-link octicon octicon-link"></span>RBAC系统</h1>
            <h2 id="h2--"><a name="功能介绍：" class="reference-link"></a><span
                    class="header-link octicon octicon-link"></span>功能介绍：</h2>
            <p>本项目分为四大模块。</p>
            <ol>
                <li><p>个人中心</p>
                    <ul>
                        <li>个人资料<br>可以查看个人资料，包括用户名，邮箱，电话等。</li>
                        <li>资料修改<br>可以对自己的资料进行修改，用户名，邮箱，电话等</li>
                        <li>密码修改<br>可以对自己的密码进行修改</li>
                        <li>我的权限<br>可以看到我能够访问的地址</li>
                    </ul>
                </li>
                <li><p>用户组管理</p>
                    <ul>
                        <li>用户组列表<br>可以看到所有的用户组，包含删除，新增用户组<br>删除用户组需要确保这个用户组没有任何用户</li>
                        <li>用户列表<br>可以看到当前的所有的用户，以及他们的角色，留言数量</li>
                    </ul>
                </li>
                <li><p>权限管理</p>
                    <ul>
                        <li>角色列表<br>角色列表，可以看到当前所有角色，可以添加角色，删除角色。<br>删除角色之前需要确保这个角色没有被任何用户使用</li>
                        <li>资源列表<br>可以看档系统拥有的所有资源，能对资源进行删除，新增。</li>
                        <li>角色分配<br>可以看到所有的用户，以及他们的角色信息，留言数量。<br>通过分配角色按钮进入新页面，可以给用户分配角色</li>
                        <li>权限分配<br>可以看到所有角色，通过分配权限按钮进入新页面，可以给角色分配权限</li>
                    </ul>
                </li>
                <li><p>消息管理</p>
                    <ul>
                        <li>消息查看<br>可以查看所有的消息，包含修改和删除功能。</li>
                        <li>新增消息<br>可以添加新的留言消息</li>
                    </ul>
                </li>
            </ol>

        </div>
    </div>
</div>


</body>
</html>