<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">

    <!-- Bootstrap core CSS -->
    <!--    <link th:href="@{/css/bootstrap.css}" ref="/css/bootstrap.css" rel="stylesheet">-->
    <!--    <script type="text/javascript" th:src="@{/js/bootstrap.js}" src="js/bootstrap.js"></script>-->
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid" th:fragment="navbar">
        <div class="span12">
            <ul class="nav nav-tabs">

                <li id="homeHead">
                    <a th:href="@{/common/index.html}" href="/home">首页</a>
                </li>

                <li class="dropdown pull-left">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">个人中心<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/user/myInfo.html}" href="/user/myInfo">个人资料</a>
                        </li>
                        <li>
                            <a th:href="@{/user/editMyInfo.html}">资料修改</a>
                        </li>
                        <li>
                            <a th:href="@{/user/changePassword.html}">密码修改</a>
                        </li>
                        <li>
                            <a th:href="@{/user/listMyResource.html}">我的权限</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a th:href="@{/logout}" href="/logout">登出</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown pull-left" id="userHead">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">用户组管理<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/group/groupList.html}" href="/groupList">用户组列表</a>
                        </li>
                        <li>
                            <a th:href="@{/group/userList.html}" href="/userList">用户列表</a>
                        </li>
                    </ul>
                </li>


                <li class="dropdown pull-left">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">权限管理<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/role/roleList.html}" href="role/roleList">角色列表</a>
                        </li>
                        <li>
                            <a th:href="@{/resource/resourceList.html}" href="resource/resourceList">资源列表</a>
                        </li>
                        <li>
                            <a th:href="@{/role/userListForAllocate.html}" href="/role/userListForAllocate.html">角色分配</a>
                        </li>
                        <li>
                            <a th:href="@{/resource/roleListForAllocate.html}" href="/resource/roleListForAllocate.html" >权限分配</a>
                        </li>
                    </ul>
                </li>


                <li class="dropdown pull-left">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">消息管理<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/message/messageListTest.html}" href="/messageListTest">消息列表</a>
                        </li>
                        <li>
                            <a th:href="@{/message/addMessage.html}" href="#">新增消息</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown pull-left">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">日志管理<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/log/listLogPage.html}" href="/log/listLogPage.html">日志列表</a>
                        </li>
                    </ul>
                </li>

                <li class="pull-right">
                    <img style="height: 50px" th:src="@{${session.user.headerUrl}}">
                </li>


            </ul>
        </div>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>

</html>