<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zx.learn.rbac_demo.dao.SysLogMapper">
    <resultMap id="BaseResultMap" type="zx.learn.rbac_demo.model.SysLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="action_name" jdbcType="VARCHAR" property="actionName"/>
        <result column="action_type" jdbcType="VARCHAR" property="actionType"/>
        <result column="method_name" jdbcType="VARCHAR" property="methodName"/>
        <result column="args" jdbcType="VARCHAR" property="args"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="time_use" jdbcType="INTEGER" property="timeUse"/>
        <result column="return_result" jdbcType="VARCHAR" property="returnResult"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="if_success" jdbcType="BIT" property="ifSuccess"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, action_name, action_type, method_name, args, ip, url, user_id, user_name, time_use, 
    return_result, create_date, if_success
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="zx.learn.rbac_demo.model.SysLog"
            useGeneratedKeys="true">
    insert into log (action_name, action_type, method_name, 
      args, ip, url, user_id, 
      user_name, time_use, return_result, 
      create_date, if_success)
    values (#{actionName,jdbcType=VARCHAR}, #{actionType,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR}, 
      #{args,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{timeUse,jdbcType=INTEGER}, #{returnResult,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{ifSuccess,jdbcType=BIT})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="zx.learn.rbac_demo.model.SysLog"
            useGeneratedKeys="true">
        insert into log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="actionName != null">
                action_name,
            </if>
            <if test="actionType != null">
                action_type,
            </if>
            <if test="methodName != null">
                method_name,
            </if>
            <if test="args != null">
                args,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="timeUse != null">
                time_use,
            </if>
            <if test="returnResult != null">
                return_result,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="ifSuccess != null">
                if_success,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="actionName != null">
                #{actionName,jdbcType=VARCHAR},
            </if>
            <if test="actionType != null">
                #{actionType,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="args != null">
                #{args,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="timeUse != null">
                #{timeUse,jdbcType=INTEGER},
            </if>
            <if test="returnResult != null">
                #{returnResult,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="ifSuccess != null">
                #{ifSuccess,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="zx.learn.rbac_demo.model.SysLog">
        update log
        <set>
            <if test="actionName != null">
                action_name = #{actionName,jdbcType=VARCHAR},
            </if>
            <if test="actionType != null">
                action_type = #{actionType,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                method_name = #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="args != null">
                args = #{args,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="timeUse != null">
                time_use = #{timeUse,jdbcType=INTEGER},
            </if>
            <if test="returnResult != null">
                return_result = #{returnResult,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="ifSuccess != null">
                if_success = #{ifSuccess,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="zx.learn.rbac_demo.model.SysLog">
    update log
    set action_name = #{actionName,jdbcType=VARCHAR},
      action_type = #{actionType,jdbcType=VARCHAR},
      method_name = #{methodName,jdbcType=VARCHAR},
      args = #{args,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      time_use = #{timeUse,jdbcType=INTEGER},
      return_result = #{returnResult,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      if_success = #{ifSuccess,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="listSysLog" resultMap="BaseResultMap">

    select id,
       action_name,
       action_type,
       method_name,
       args,
       ip,
       url,
       user_id,
       user_name,
       time_use,
       return_result,
       create_date,
       if_success
from log
where action_name like concat('%', #{str}, '%')
  or action_type like concat('%', #{str}, '%')
  or method_name like concat('%', #{str}, '%')
  or ip like concat('%', #{str}, '%')
  or url like concat('%', #{str}, '%')
  or user_name like concat('%',#{str}, '%')

  </select>
</mapper>