<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>用户信息列表</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" ref="../static/css/bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../../static/js/bootstrap.js"></script>

</head>

<script>
    $(document).ready(function () {
        var addGroup = $("#newGroup");
        addGroup.click(function () {
            var groupName = $("#groupName").val();
            console.log("发送AJAX请求增加用户组");
            $.get("/group/addGroup", {
                groupName: groupName
            }).done(function () {
                location.reload();
            })
        });
    })
</script>

<style>
    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: none;
        color: black;
    }
</style>

<body>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div th:insert="../templates/common/NavBar::navbar"></div>

            <div class="col-lg-2"></div>

            <div class="col-lg-8">

                <div>
                    <label class="checkbox" style="display: inline-block">组名: <input id="groupName" type="text"
                                                                                     style="display: inline-block"/></label>

                    <button class="btn" id="newGroup" type="button" style="display: inline-block">新增用户组</button>
                </div>


                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>用户组ID</th>
                        <th>用户组名</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" g : ${groupList}">
                        <td th:text="*{g.groupId}"></td>
                        <td th:text="*{g.groupName}"></td>
                        <td>
                            <button class="btn btn-sm btn-danger" type="button">
                                <a th:href="@{/group/deleteGroupById(id=${g.groupId})}"> 删除</a>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>


</body>
</html>