<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<fieldset>
    <label> 旧密码 </label>
    <input type="text" name="oldPassword" placeholder="旧密码"/>
</fieldset>
<fieldset>
    <label> 新密码 </label>
    <input type="text" name="newPassword" placeholder="新密码"/>
</fieldset>
<fieldset>
    <label>重复新密码</label>
    <input type="text" name="newPasswords" placeholder="重复新密码"/>
</fieldset>
<button type="submit" class="btn">提交</button>

</body>
</html>