<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>

    <link th:href="@{/css/bootstrap.css}" ref="../static/css/bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}" src="js/bootstrap.js"></script>

</head>

<script>

    $(document).ready(function () {

        var submit = $("#submit");

        submit.click(function () {
            var oldPwd = $("#olePassword").val();
            var newPwd = $("#newPassword").val();
            var newPwds = $("#newPasswords").val();
            if (newPwd == newPwds) {
                $.post("/user/changePassword", {
                    oldPassword: oldPwd,
                    newPassword: newPwd
                }).done(function (res) {
                    alert(res.msg);
                    location.reload();
                });
            } else {
                alert("两次密码不一致")
            }

        })
    })


</script>


<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div th:insert="../templates/common/NavBar::navbar"></div>
            <fieldset>
                <label> 旧密码 </label>
                <input id="olePassword" type="text" name="oldPassword" placeholder="旧密码"/>
            </fieldset>
            <fieldset>
                <label> 新密码 </label>
                <input id="newPassword" type="text" name="newPassword" placeholder="新密码"/>
            </fieldset>
            <fieldset>
                <label>重复新密码</label>
                <input id="newPasswords" type="text" name="newPasswords" placeholder="重复新密码"/>
            </fieldset>
            <button id="submit" type="submit" class="btn">提交</button>

        </div>
    </div>
</div>

</body>
</html>