<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>我的信息</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" ref="../static/css/bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}" src="js/bootstrap.js"></script>

</head>

<style>
    #userInfo li p {
        display: inline;
    }


</style>

<script>
    $(document).ready(function () {
        $("#myInfoHead").addClass("active");
    })
</script>

<body>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div th:insert="../templates/common/NavBar::navbar"></div>


            <div th:if="${errorInfo != null}">
                <h2 th:value="${errorInfo}" th:text="${errorInfo}"></h2>
            </div>

            <div  class="col-lg-3">
                <img style="height: 300px" th:src="@{${session.user.headerUrl}}">
                <br>
                正在使用
            </div>

        </div>

        <div class="span12">
            <div th:each="img: ${imgList}" class="col-lg-3" style="height: 350px">
                <img style="width: 300px" th:name="头像"
                     th:src="@{${img.imgUrl}}">
                <br>
                <a type="button" class="btn-info btn" th:href="@{/head/selectHeader(imgId=${img.id})}">使用此头像</a>
            </div>

        </div>


    </div>
</div>


</body>
</html>