<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Spring Boot file upload example</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" ref="../static/css/bootstrap.css" rel="stylesheet">

    <script src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}" src="js/bootstrap.js"></script>

</head>


<script>
    $(document).ready(function () {
        $("#homeHead").addClass("active")
    })
</script>

<body>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div th:insert="../templates/common/NavBar::navbar"></div>

            <h1>Spring Boot file upload example</h1>


            <div>
                <form action="/file/testFileUpdate" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" value="请选择文件上传">
                    <input type="submit" value="提交">
                </form>
            </div>

            <br>
            <div>
                <img th:src="@{${filename}}" alt="图片">
            </div>

        </div>
    </div>
</div>


</body>
</html>