<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>用户信息列表</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" ref="../static/css/bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../../static/js/bootstrap.js"></script>

</head>

<body>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div th:insert="../templates/common/NavBar::navbar"></div>

            <form th:action="@{/resource/allocateResourceForRole}" th:method="post" method="post">
                <input th:value="${roleId}" name="roleId" hidden="hidden">
                <table class="table table-bordered" >
                    <thead>
                    <tr>
                        <th>选择</th>
                        <th>ID</th>
                        <th>名称</th>
                        <th>类型</th>
                        <th>URL</th>
                    </tr>
                    </thead>
                    <tbody id="tableBody">
                    <tr th:each=" r : ${resourceList}">
                        <td>
                            <input class="check_btn" th:value="*{r.resourceId}" name="check" type="checkbox" th:if="${!roleResourceList.contains(r)}">
                            <input class="check_btn" th:value="*{r.resourceId}" checked name="check" type="checkbox" th:if="${roleResourceList.contains(r)}">
                        </td>
                        <td th:text="*{r.resourceId}"></td>
                        <td th:text="*{r.resourceName}"></td>
                        <td th:text="*{r.type}"></td>
                        <td th:text="*{r.url}"></td>
                    </tr>
                    </tbody>
                </table>
                <input type="submit" class="submit btn btn-info" value="提交">
            </form>

        </div>
    </div>
</div>


</body>
</html>