<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>用户信息列表</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" ref="../static/css/bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}" src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" th:src="@{/js/layer.js}" src="/js/layer.js"></script>

</head>

<style>
    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: none;
        color: black;
    }
</style>


<body>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div th:insert="../templates/common/NavBar::navbar"></div>



            <script>

                $('#addUserButton').on('click', function () {
                    layer.open({
                        type: 1,
                        area: ['600px', '360px'],
                        shadeClose: true, //点击遮罩关闭
                        content: '这里放置内容，可能还需要ajax进行数据的查询，即这个用户已经拥有了哪些角色'
                    });
                });
            </script>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>电话</th>
                    <th>用户角色</th>
                    <th>消息数量</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each=" u : ${userList}">
                    <td th:text="*{u.userId}"></td>
                    <td th:text="*{u.userName}"></td>
                    <td th:text="*{u.userEmail}"></td>
                    <td th:text="*{u.userPhone}"></td>
                    <td th:text="*{u.roleStr}"></td>
                    <td th:text="*{u.messageNum}"></td>
                    <td>
                        <button class="btn btn-sm btn-danger" type="button">
                            <a th:href="@{/role/allocateRoleForUser.html(id=${u.userId})}"> 分配角色</a>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>


</body>
</html>